.real{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h2{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    height: 60vh;
    width: 85vw;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background: url('../../src/component/DISNEY.UK/daddaughter.jpg'); */
    background-size: cover;
    color: white;
    

}
.head span{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 50px
}
a{
    color: white;
    margin-left: 50px
}
.head p{
    margin-left: 50px
}