


.show-card{
    display: flex;
    height: 30vh;
    gap: 50px;
    margin-top: 15px;
    background-color: whitesmoke;
}
.show-card{
    height: 200px;
    transition: all 0.1s ease-in-out;
}

.show-card-image h5{
    font-weight: 500;
    font-size: 2rem;
}
.show-card-image{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}